header{
    display: flex;
    justify-content: space-between;
    background-color: #1B082D;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    align-items: center;
}    

nav{
    text-align: right;
    align-items: center;
}

p {
    color: #fff;
    font-family: 'Press Start 2P', 'Arial', Helvetica, sans-serif;
    font-size: 30px;
    display: inline-flex;
    margin: none ;
    text-shadow: 3px 3px 0 #9C0017  ;
}

a::before {
    content: "";
    display: inline-flex;
    background-color: #9C0017;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a {
    color: white;
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Fira Code', 'sans-serif';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin-right: 30px;
}


#button {
    background-color: #9C0017;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-right: 20px ;
    box-shadow: 5px 5px 0 black;
    transition: transform 160ms linear cubic-bezier(.42,0,.58,1.4);;
    
}

#button:hover {
    transform: scale(1.05);
}